body {
  background-color: black;
}

h1, h2, h3, p {
  color: white;
}

.ascii-art {
  line-height: 1;
  font-size: large;
  color: red;
}

.topnav {
  display: table;
  table-layout: fixed;
  width: 90%;
  max-width: 50em;
  margin: 0 auto;
  padding: 0;
}

.topnav li {
  display: table-cell;
  text-align: center;
}

.topnav a {
  color: orange;
}

.topnav a:hover {
  color: yellow;
}

.main {
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  padding: 0;
}

.error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error-highlight {
  color: red;
}
