:root {
  --bg-color: black;
  --font-family: "Courier New", Courier, monospace;
  --accent-color: red;
  --link-color: orange;
  --link-hover-color: yellow;
}

/* Common styling */
body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--accent-color);
}
a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover-color);
}

/* Navigation bar */
.topnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  list-style-type: none;
}
.topnav li {
  flex-basis: 10%;
  padding: 0 .25em;
}

/* Home page container */
.home {
  margin: 0 auto;
  max-width: 1000px;
}

/* Home page layout */
.home-split-container * {
  flex: 1;
  box-sizing: border-box;
}
@media (min-width: 800px) {
  .home-split-container {
    display: flex;
  }
}

/* Fieldset panels */
.home-panel {
  margin: 1em;
  min-width: 0;
  border-style: double;
  border-color: var(--accent-color);
}

/* Hexidecimal styled lists */
.hexlist {
  padding: 0;
  list-style-type: none;
}
.hexlist li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Ordered appearing elements */
.ordered-popin * {
  visibility: hidden;
  animation: popin-animation;
  animation-fill-mode: forwards;
  animation-duration: 100ms;
  animation-delay: inherit;
}

/* 'Randomly' appearing elements */
.random-popin * {
  visibility: hidden;
  animation: popin-animation;
  animation-fill-mode: forwards;
  animation-duration: 100ms;
}
.random-popin *:nth-of-type(1n+0) { animation-delay: 600ms; }
.random-popin *:nth-of-type(3n+3) { animation-delay: 550ms; }
.random-popin *:nth-of-type(2n+5) { animation-delay: 500ms; }
.random-popin *:nth-of-type(4n+1) { animation-delay: 450ms; }
.random-popin *:nth-of-type(3n+8) { animation-delay: 400ms; }
.random-popin *:nth-of-type(5n+4) { animation-delay: 350ms; }
.random-popin *:nth-of-type(6n+2) { animation-delay: 300ms; }
.random-popin *:nth-of-type(5n+0) { animation-delay: 250ms; }
.random-popin *:nth-of-type(9n+4) { animation-delay: 200ms; }
.random-popin *:nth-of-type(8n+2) { animation-delay: 150ms; }
.random-popin *:nth-of-type(9n+1) { animation-delay: 100ms; }

/* Animation used for popping-in elements */
@keyframes popin-animation {
  99% { visibility: hidden; }
  100% { visibility: visible; }
}

/* Error page */
.error {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0 1em;
  transform: translate(-50%, -50%);
  font-family: monospace, var(--font-family);
  text-align: center;
  border-style: double;
  border-color: var(--accent-color);
  color: white;
}
.error-highlight {
  color: var(--accent-color);
}

/* "Under Construction" marquee at bottom of screen */
.under-construction-marquee {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  white-space: nowrap;
}
.under-construction-marquee div {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  100% {
    transform: translate(-100%, 0);
  }
}
