:root {
  --primary-bg-color: black;
  --primary-font-family: "Courier New", Courier, monospace;
  --primary-text-color: red;
  --primary-link-color: orange;
  --primary-link-hover-color: yellow;
}

/* Common styling */
body {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}
a {
  color: var(--primary-link-color);
}
a:hover {
  color: var(--primary-link-hover-color);
}

/* Navigation bar */
.topnav {
  display: table;
  table-layout: fixed;
  width: 90%;
  max-width: 50em;
  margin: 0 auto 1.5em auto;
  padding: 0;
}
.topnav li {
  display: table-cell;
  text-align: center;
}

/* Horizontal stretch limiting of the page content */
.main {
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  padding: 0;
}

.home-panel {
  padding: 0.5em 1em;
  border-style: double;
  border-color: red;
}

/* Ordered appearing elements */
.ordered-popin * {
  visibility: hidden;
  animation: popin-animation;
  animation-delay: calc(var(--animation-order) * 50ms);
  animation-fill-mode: forwards;
  animation-duration: 0.1s;
}

/* 'Randomly' appearing elements */
.random-popin * {
  visibility: hidden;
  animation: popin-animation;
  animation-fill-mode: forwards;
  animation-duration: 0.1s;
}
@keyframes popin-animation {
  99% { visibility: hidden; }
  100% { visibility: visible; }
}
.random-popin *:nth-of-type(1n+0) { animation-delay: 600ms; }
.random-popin *:nth-of-type(3n+3) { animation-delay: 550ms; }
.random-popin *:nth-of-type(2n+5) { animation-delay: 500ms; }
.random-popin *:nth-of-type(4n+1) { animation-delay: 450ms; }
.random-popin *:nth-of-type(3n+8) { animation-delay: 400ms; }
.random-popin *:nth-of-type(5n+4) { animation-delay: 350ms; }
.random-popin *:nth-of-type(6n+2) { animation-delay: 300ms; }
.random-popin *:nth-of-type(5n+0) { animation-delay: 250ms; }
.random-popin *:nth-of-type(9n+4) { animation-delay: 200ms; }
.random-popin *:nth-of-type(8n+2) { animation-delay: 150ms; }
.random-popin *:nth-of-type(9n+1) { animation-delay: 100ms; }

/* Error page */
.error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 1em;
  border-style: double;
  border-color: red;
  font-family: monospace, var(--primary-font-family);
  color: white;
}
.error-highlight {
  color: red;
}

/* "Under Construction" marquee at bottom of screen */
.under-construction-marquee {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  white-space: nowrap;
}
.under-construction-marquee div {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  100% {
    transform: translate(-100%, 0);
  }
}
