:root {
  --bg-color: black;
  --font-family: Courier, monospace;
  --accent-color: red;
  --link-color: orange;
}

/* Common styling */
body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--accent-color);
}

/* Animated links */
a {
  text-decoration: none;
  color: var(--link-color);
  background-image: linear-gradient(var(--link-color), var(--link-color));
  background-position: 0 90%;
  background-size: 100% .05em;
  background-repeat: no-repeat;
  transition:
    color 200ms cubic-bezier(0,.5,0,1),
    background-size 300ms cubic-bezier(0,.5,0,1);
}
a:hover, a.hover, .dropdown-menu:hover > a {
  text-decoration: none;
  color: var(--bg-color);
  background-size: 100% 1.1em;
}

/* Plain unordered lists */
ul {
  padding: 0;
  list-style-type: none;
}

/* Navigation bar */
.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
.topnav li {
  flex-basis: 10%;
  padding: 0 .25em;
}

/* Main content container */
.main {
  margin: 0 auto;
  max-width: 1000px;
}

/* Home page title art and motd */
.home-title {
  padding-top: 2em;
  text-align: center;
  font-style: italic;
}
.home-title img {
  width: 80%;
  height: auto;
  max-width: 500px;
  image-rendering: pixelated;
  -webkit-animation: clipping-reveal 1s steps(3, start);
  animation: clipping-reveal 1s steps(3, start);
  opacity: 100%;
}
@keyframes clipping-reveal {
  0% { clip-path: inset(0 0 100% 0); }
  100% { clip-path: inset(0); }
}

/* Mobile-friendly split container layout */
@media (min-width: 800px) {
  .split-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .split-container > * {
    flex: 1;
    box-sizing: border-box;
    min-width: 0;
  }
}

/* Mobile-friendly fieldset panels */
fieldset {
  margin: 1em;
  min-width: 0;
  border-style: double;
  border-color: var(--accent-color);
}
@media (min-width: 800px) {
  fieldset {
    box-sizing: border-box;
    transition: margin 200ms, padding 200ms;
    padding: 1em;
  }
  fieldset:hover {
    margin: 1.40em;
    padding: 0.60em;
  }
}

/* Form styling */
form label {
  font: 0.9em var(--font-family);
}
form input {
  background: var(--bg-color);
  border-color: var(--accent-color);
  font: 0.9em var(--font-family);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}
form input[type=search] {
  border: none;
  border-bottom: 2px solid var(--accent-color);
}
form input[type=submit] {
  color: var(--link-color);
  border-color: var(--link-color);
  background-image: linear-gradient(var(--link-color), var(--link-color));
  background-size: 100% 0;
  background-position: 0 100%;
  background-repeat: no-repeat;
  padding: 0.25em;
  margin: 0;
  transition:
    padding 700ms cubic-bezier(0,.5,0,1),
    margin 700ms cubic-bezier(0,.5,0,1),
    color 200ms cubic-bezier(0,.5,0,1),
    background-size 300ms cubic-bezier(0,.5,0,1);
}
form input[type=submit]:hover {
  background-size: 100% 1.4em;
  padding: 0.1em;
  margin: 0.15em;
  color: var(--bg-color);
}
form input::placeholder {
  color: var(--accent-color);
  opacity: 0.8;
}
form input:focus {
  outline: none !important;
}

/* Better checkboxes */
form input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  margin: 0.95em 0;
}
form input[type="checkbox"] + span:before {
  content: "\a0";
  display: inline-block;
  position: relative;
  top: 1px;
  right: 5px;
  width: 10px;
  height: 10px;
  border: 2px solid var(--accent-color);
  transition:
    top 100ms, right 100ms,
    width 100ms, height 100ms,
    margin-right 100ms;
}
input[type="checkbox"]:hover + span:before {
  top: 3px;
  right: 3px;
  width: 6px;
  height: 6px;
  margin-right: 4px;
}
input[type="checkbox"]:checked + span:before {
  background-color: var(--accent-color);
}

/* Space li horizontally */
.horizontal-list {
  margin: 0;
}
.horizontal-list > li {
  display: inline-block;
  margin: 0.1em 0.5em;
}

/* Drop down menus */
.dropdown-menu {
  position: relative;
}
.dropdown-menu .dropdown-content {
  display: none;
  position: absolute;
  top: 1em;
  padding: 0.5em;
  background-color: var(--bg-color);
  border-style: solid;
  border-color: var(--link-color);
}
.dropdown-menu:hover {
  z-index: 1;
}
.dropdown-menu:hover .dropdown-content {
  display: block;
}

/* The list of posts */
@media (max-width: 799px) {
  .post-list {
    padding-left: 1em;
  }
  .post-list li::marker {
    content: "x ";
  }
}
@media (min-width: 800px) {
  .post-list li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .home-post-list {
    margin: 0;
  }
}

/* Hexadecimal styled lists */
.hexlist, .hexlist li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Individually appearing elements */
.ordered-popin *, .random-popin * {
  opacity: 0%;
  -webkit-animation: popin-animation;
  -webkit-animation-fill-mode: forwards;
  animation: popin-animation;
  animation-fill-mode: forwards;
}
.random-popin *:nth-of-type(1n+0) { -webkit-animation-delay: 600ms; animation-delay: 600ms; }
.random-popin *:nth-of-type(3n+3) { -webkit-animation-delay: 550ms; animation-delay: 550ms; }
.random-popin *:nth-of-type(2n+5) { -webkit-animation-delay: 500ms; animation-delay: 500ms; }
.random-popin *:nth-of-type(4n+1) { -webkit-animation-delay: 450ms; animation-delay: 450ms; }
.random-popin *:nth-of-type(3n+8) { -webkit-animation-delay: 400ms; animation-delay: 400ms; }
.random-popin *:nth-of-type(5n+4) { -webkit-animation-delay: 350ms; animation-delay: 350ms; }
.random-popin *:nth-of-type(6n+2) { -webkit-animation-delay: 300ms; animation-delay: 300ms; }
.random-popin *:nth-of-type(5n+0) { -webkit-animation-delay: 250ms; animation-delay: 250ms; }
.random-popin *:nth-of-type(9n+4) { -webkit-animation-delay: 200ms; animation-delay: 200ms; }
.random-popin *:nth-of-type(8n+2) { -webkit-animation-delay: 150ms; animation-delay: 150ms; }
.random-popin *:nth-of-type(9n+1) { -webkit-animation-delay: 100ms; animation-delay: 100ms; }

/* Animation used for popping-in elements */
@keyframes popin-animation {
  99% { opacity: 0%; }
  100% { opacity: 100%; }
}

/* Error page */
.error {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0 1em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: monospace, var(--font-family);
  text-align: center;
  border-style: double;
  border-color: var(--accent-color);
  color: white;
}
.error-highlight {
  color: var(--accent-color);
}

/* "Under Construction" marquee at bottom of screen */
.under-construction-marquee {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  white-space: nowrap;
}
.under-construction-marquee div {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  100% {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

/* Generic responsive classes */
@media (min-width: 800px) {
  .hide-on-desktop {
    display: none;
  }
}
@media (max-width: 799px) {
  .hide-on-mobile {
    display: none;
  }
}
@media (hover: hover) {
  .hide-on-mouse {
    display: none;
  }
}
@media (hover: none) {
  .hide-on-touch {
    display: none;
  }
}
