
/* Home page title art and motd */
.home-title {
  padding-top: 2em;
  text-align: center;
  font-style: italic;
}
.home-title img {
  width: 80%;
  height: auto;
  max-width: 500px;
  image-rendering: pixelated;
  -webkit-animation: clipping-reveal 1s steps(3, start);
  animation: clipping-reveal 1s steps(3, start);
  opacity: 100%;
}
@keyframes clipping-reveal {
  0% { clip-path: inset(0 0 100% 0); }
  100% { clip-path: inset(0); }
}

/* "Under Construction" marquee at bottom of screen */
.under-construction-marquee {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  white-space: nowrap;
}
.under-construction-marquee div {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  100% {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
