<!doctype html>
<html lang="en">
  {{template "head" "Home"}}
  <body>
    {{template "nav"}}
    <div class="home ordered-popin">

      <div class="home-split-container">

        <fieldset class="home-panel" style="animation-delay: 100ms">
          <legend>Welcome</legend>
          {{template "randomcharacters" "Welcome to tjsj.dev. As you can see, there's not much to see."}}
          {{template "randomcharacters" "Just you wait, there's going to be a bunch of cool stuff around here in no time. Any second now..."}}
        </fieldset>

        <div>
          <fieldset class="home-panel" style="animation-delay: 400ms">
            <legend>Projects</legend>
            {{template "hexlist" dict "StartDelay" 500 "GapDelay" 100 "List" .ProjectsList}}
          </fieldset>
          <fieldset class="home-panel" style="animation-delay: 700ms">
            <legend>Recent Posts</legend>
            {{template "hexlist" dict "StartDelay" 800 "GapDelay" 100 "List" .RecentPostsList}}
          </fieldset>
        </div>

      </div>

      <fieldset class="home-panel home-split-container" style="animation-delay: 1000ms">
        <legend>Links</legend>
        {{template "hexlist" dict "StartDelay" 1100 "GapDelay" 100 "List" (list
          (toHTML "email: tedjohnsonjs@gmail.com")
          (toHTML "phone: (+353) 87 103 4822")
          (toHTML "discord: tedski999#9999")
        )}}
        {{template "hexlist" dict "StartDelay" 1300 "GapDelay" 100 "List" (list
          (toHTML "<a href="https://github.com/tedski999">github page</a>")
          (toHTML "<a href="https://github.com/tedski999">linkedin page</a>")
        )}}
      </fieldset>

    </div>

    <div class="under-construction-marquee">
      <div>WEBSITE UNDER CONSTRUCTION - EXPECT DELAYS</div>
    </div>

  </body>
</html>
