<!doctype html>
<html lang="en">
 {{
    template "head" dict
    "Description" "Ted Johnson's personal homepage. Computer scientist, game designer and web developer. You can find my work and projects here, as well as links to any social media I shouldn't have joined."
    "KeywordsList" (list "tedski999" "Ted Johnson" "Computer Science" "Game Development" "Portfolio")
    "Canonical" "/"
    "Stylesheet" "/css/home.css"
  }}
  <body>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://tjsj.dev",
        "logo": "https://tjsj.dev/img/logo.png"
      }
    </script>

    <header>
      {{template "nav"}}
    </header>

    <div class="main ordered-popin">

      <div class="home-title" style="animation-delay: 0ms">
        <img src="/img/title-art.png" alt="tjsj.dev" width="26" height="3">
        <p class="random-popin">{{range split (printf "\"%s\"" .SplashText)}}<span>{{.}}</span>{{end}}</p>
      </div>

      <div class="split-container">

        <fieldset style="animation-delay: 100ms">
          <legend>Welcome</legend>
          <p class="random-popin">{{range split (printf "Welcome to tjsj.dev. As you can see, there's not much to see.")}}<span>{{.}}</span>{{end}}</p>
          <p class="random-popin">{{range split (printf "Just you wait, there's going to be a bunch of cool stuff around here in no time. Any second now...")}}<span>{{.}}</span>{{end}}</p>
        </fieldset>

        <div class="split-container" style="flex-direction: column">
          <fieldset style="animation-delay: 400ms">
            <legend>Featured Projects</legend>
            <ul class="home-post-list post-list">
              {{range $index, $post := .PostList}}
                <li style="animation-delay: {{add 500 (mul $index 100)}}ms">
                  <span class="hide-on-mobile">{{$post.Date}} </span><a href="/posts/{{$post.ID}}" title="{{join $post.Tags " - "}}">{{$post.Title}}</a>
                  <p style="margin-top: 0;" class="hide-on-desktop">{{$post.Date}}</p>
                </li>
              {{else}}
                <li style="animation-delay: 500ms">No projects available</li>
              {{end}}
            </ul>
          </fieldset>
          <fieldset style="animation-delay: 700ms">
            <legend>Recent Posts</legend>
            <ul class="home-post-list post-list">
              {{range $index, $post := .PostList}}
                <li style="animation-delay: {{add 800 (mul $index 100)}}ms">
                  <span class="hide-on-mobile">{{$post.Date}} </span><a href="/posts/{{$post.ID}}" title="{{join $post.Tags " - "}}">{{$post.Title}}</a>
                  <p style="margin-top: 0;" class="hide-on-desktop">{{$post.Date}}</p>
                </li>
              {{else}}
                <li style="animation-delay: 700ms">No posts available</li>
              {{end}}
            </ul>
          </fieldset>
        </div>

      </div>

      <fieldset class="split-container" style="animation-delay: 1000ms">
        <legend>Links</legend>
        <ul class="hexlist">
          {{range $index, $item := list
            "Email: tedjohnsonjs@gmail.com"
            "Phone: (+353) 87 103 4822"
            "Discord: tedski999#3759"
            "Steam: tedski999"
            "TCD ID: 19335618"
          }}
            <li style="animation-delay: {{add 1100 (mul 100 $index)}}ms">{{printf "0x%04X" (mul $index 4)}} {{$item}}</li>
          {{end}}
        </ul>
        <ul class="hexlist">
          {{range $index, $item := toHTMLList (list
            "<a href="https://github.com/tedski999" title="View&nbsp;all&nbsp;my&nbsp;programming&nbsp;projects&nbsp;on&nbsp;GitHub">GitHub Page</a>"
            "<a href="https://www.linkedin.com/in/ted-johnson" title="View&nbsp;my&nbsp;professional&nbsp;history&nbsp;on&nbsp;LinkedIn">LinkedIn Page</a>"
            "<a href="/downloads/pgp-public-key.txt" title="Download&nbsp;my&nbsp;public&nbsp;PGP&nbsp;key">PGP Public Key</a>"
            "<a href="/downloads/ssh-public-key.txt" title="Download&nbsp;this&nbsp;servers&nbsp;public&nbsp;SSH&nbsp;key">SSH Public Key</a>"
            "<a href="/downloads/geekcode.txt" title="Decode&nbsp;my&nbsp;geekcode">geekcode</a>"
          )}}
            <li style="animation-delay: {{add 1300 (mul 100 $index)}}ms">{{printf "0x%04X" (mul $index 4)}} {{$item}}</li>
          {{end}}
        </ul>
      </fieldset>

    </div>

    <div class="under-construction-marquee">
      <div>WEBSITE UNDER CONSTRUCTION - EXPECT DELAYS</div>
    </div>

  </body>
</html>
