<!doctype html>
<html lang="en">
  {{template "head" "Home"}}
  <body>
    {{template "nav"}}
    <div class="main">

      <p>
        Just you wait, there's going to be a bunch of cool stuff around here in no time.
        Any second now...
      </p>
      <p>
        In the meantime, your best bet for more info is <a href="https://github.com/tedski999">my GitHub page</a>.
      </p>

      <!-- TODO: landing page -->

      <div class="recent-posts-list">
        <!-- TODO: list recent posts here -->
      </div>

      <div class="links-and-socials-list">
        <!-- TODO: links and socials -->
      </div>

    </div>
    <div class="under-construction-marquee">
      <div>WEBSITE UNDER CONSTRUCTION - EXPECT DELAYS</div>
    </div>
  </body>
</html>
