{{define "nav"}}
<nav>
  <ul class="topnav">
    <li><a href="/" title="Return home">home</a></li>
    <li><a href="/projects/" title="View my collection of released work">work</a></li>
    <li><a href="/posts/" title="Read all my unhinged ramblings here">posts</a></li>
    <li><a href="/repos/" title="Access the source code for all my public projects">repos</a></li>
    <li><a href="/downloads/cv.pdf" title="Read my European resume">c.v</a></li>
    <li><a href="/stats" title="View this sites real-time statistics">stats</a></li>
  </ul>
</nav>
{{end}}
