<!doctype html>
<html lang="en">
  {{
    template "head" dict
    "SubtitlesList" (list "Posts")
    "Description" "Read all of Ted Johnson's unhinged ramblings here. Topics generally include computer science, game development and anything else that catches my interest."
    "KeywordsList" (list "tedski999" "Ted Johnson" "Computer Science" "Game Development" "Portfolio")
  }}
  <body>

    <header>
      {{template "nav"}}
    </header>

    <div class="main split-container">

      <div style="position: relative; z-index: 1;">
        <fieldset>
          <legend>Filter</legend>
          <form>
            {{if .YearQuery}}
              <input type="hidden" name="y" value={{.YearQuery}}>
            {{end}}
            {{if .MonthQuery}}
              <input type="hidden" name="m" value={{.MonthQuery}}>
            {{end}}
            <input type="search" maxlength="50" name="s" placeholder="Search..." style="width: 95%" value="{{.SearchQuery}}" /><br>
            <ul class="horizontal-list">
              {{range $tag, $checked := .TagList}}
                <li><label><input type="checkbox" name="t" value="{{$tag}}" {{if $checked}}checked{{end}}/><span></span>{{$tag}}</label></li>
              {{else}}
                <li>No tags available</li>
              {{end}}
            </ul>
            <br>
            <input type="submit" value="Filter" />
          </form>
        </fieldset>
        <fieldset>
          <legend>Dates</legend>
          <ul class="horizontal-list">
            {{$yearquery := .YearQuery}}
            {{$monthquery := .MonthQuery}}
            {{range $year, $months := .YearList}}
              <li class="dropdown-menu">
                <a class="hide-on-touch {{if eq $yearquery $year}}hover{{end}}" href="?y={{$year}}">{{$year}}</a>
                <a class="hide-on-mouse {{if eq $yearquery $year}}hover{{end}}">{{$year}}</a>
                <ul class="dropdown-content ordered-popin">
                  <li class="hide-on-mouse" style="margin-bottom: 0.5em"><a href="?y={{$year}}" class="{{if eq $yearquery $year}}{{if not $monthquery}}hover{{end}}{{end}}">All</a></li>
                  {{range $index, $month := $months}}
                    <li style="animation-delay: {{mul $index 50}}ms"><a href="?y={{$year}}&m={{index $month 1}}" {{if eq $yearquery $year}}{{if eq $monthquery (index $month 1)}}class="hover"{{end}}{{end}}>{{index $month 0}}</a></li>
                  {{end}}
                </ul>
              </li>
            {{else}}
              <li>No dates available</li>
            {{end}}
          </ul>
        </fieldset>
      </div>

      <fieldset style="flex: 2">
        <legend>Posts</legend>
        <ul class="post-list ordered-popin">
          {{range $index, $post := .PostList}}
            <li style="animation-delay: {{add 100 (mul $index 50)}}ms">
              <span class="hide-on-mobile">{{$post.Date}} </span><a href="/posts/{{$post.ID}}" title="{{join $post.Tags " - "}}">{{$post.Title}}</a>
              <p style="margin-top: 0;" class="hide-on-desktop">{{$post.Date}}</p>
            </li>
          {{else}}
            <li style="animation-delay: 100ms">No posts found</li>
          {{end}}
        </ul>
      </fieldset>

    </div>

  </body>
</html>
