<!doctype html>
<html lang="en">
  {{
    template "head" dict
    "SubtitlesList" (list "Posts")
    "Description" "Read all of Ted Johnson's unhinged ramblings here. Topics generally include computer science, game development and anything else that catches my interest."
    "KeywordsList" (list "tedski999" "Ted Johnson" "Computer Science" "Game Development" "Portfolio")
    "Canonical" "/posts/"
    "Stylesheet" "/css/posts.css"
  }}
  <body>

    <header>
      {{template "nav"}}
    </header>

    <div class="main split-container {{if not (or .Query.Search .Query.Tags .Query.Year .Query.Month)}}ordered-popin{{end}}">

      <form style="position: relative; z-index: 1;">
        <fieldset>
          <legend>Filter</legend>
          <input
            type="search"
            maxlength="50"
            placeholder="Search..."
            name="s"
            value="{{.Query.Search}}"
          />
          <br>
          <ul class="horizontal-list" >
            {{$tags_query := .Query.Tags}}
            {{range $tag := .Tags}}
              <li>
                <label>
                  <input
                    type="checkbox"
                    name="t"
                    value="{{$tag}}"
                    {{if contains $tags_query $tag}}
                      checked
                    {{end}}
                  />
                  <span></span>
                  {{$tag}}
                </label>
              </li>
            {{else}}
              <li>No tags available</li>
            {{end}}
          </ul>
          <br>
          <button type="submit">Filter</button>
          <a href="/posts">Reset</a>
        </fieldset>
        <fieldset>
          <legend>Dates</legend>
          <ul class="horizontal-list">
            {{$year_query := .Query.Year}}
            {{$month_query := .Query.Month}}
            {{range $year, $months := .Dates}}
              <li class="dropdown-menu">
                <input
                  type="submit"
                  class="hide-on-touch {{if eq $year $year_query}}hover{{end}}"
                  name="d"
                  value="{{$year}}"
                />
                <input
                  type="button"
                  class="hide-on-mouse {{if eq $year $year_query}}hover{{end}}"
                  value="{{$year}}"
                />
                <ul class="dropdown-content ordered-popin">
                  <li
                    class="hide-on-mouse"
                    style="margin-bottom: 0.5em"
                  >
                    <button
                      type="submit"
                      {{if eq $year $year_query}}
                        {{if not $month_query}}
                          class="hover"
                        {{end}}
                      {{end}}
                      name="d"
                      value="{{$year}}"
                    >
                      All
                    </button>
                  </li>
                  {{range $index, $month := $months}}
                    <li style="animation-delay: {{mul $index 50}}ms">
                      <button
                        type="submit"
                        {{if eq $year $year_query}}
                          {{if eq $month $month_query}}
                            class="hover"
                          {{end}}
                        {{end}}
                        name="d"
                        value="{{$year}} {{$month}}"
                      >
                        {{index (list "None"
                            "January" "February" "March"
                            "April" "May" "June"
                            "July" "August" "September"
                            "October" "November" "December")
                          $month}}
                      </button>
                    </li>
                  {{end}}
                </ul>
              </li>
            {{else}}
              <li>No dates available</li>
            {{end}}
          </ul>
        </fieldset>
        {{if or .Query.Year .Query.Month}}
          <input
            type="hidden"
            name="d"
            value="{{if .Query.Year}}{{.Query.Year}}{{end}}{{if .Query.Month}} {{.Query.Month}}{{end}}"
          />
        {{end}}
      </form>

      <fieldset style="flex: 2">
        <legend>Posts</legend>
        <ul class="post-list ordered-popin">
          {{range $index, $post := .Posts}}
            <li style="animation-delay: {{mul $index 50}}ms">
              <span class="hide-on-mobile">{{$post.Date}} </span>
              <a href="/posts/{{$post.ID}}" title="{{join $post.Tags " - "}}">{{$post.Title}}</a>
              <p class="hide-on-desktop">{{$post.Date}}</p>
            </li>
          {{else}}
            <li>No posts found</li>
          {{end}}
        </ul>
      </fieldset>

    </div>

  </body>
</html>
