<!doctype html>
<html lang="en">
  {{
    template "head" dict
    "SubtitlesList" (list "Posts")
    "Description" "Read all my unhinged ramblings here"
    "KeywordsList" (list "tedski999" "Ted Johnson" "Computer Science" "Game Development" "Portfolio")
  }}
  <body>
    <header>
      {{template "nav"}}
    </header>

    <div class="main ordered-popin split-container">

      <div>
        <fieldset class="panel">
          <legend>Filter</legend>
          <form>
            <input type="text" placeholder="Search..." />
            <!-- TODO Tag checkboxes -->
            <button>Go</button>
          </form>
        </fieldset>

        <fieldset class="panel">
          <legend>Dates</legend>
          <!-- TODO Years > Months > Days -->
        </fieldset>
      </div>

      <fieldset class="panel" style="flex: 2">
        <legend>Posts</legend>
        <!--{{template "hexlist" dict "StartDelay" 100 "GapDelay" 100 "List" .PostList}}-->
        <ul class="hexlist">
          <li>hello</li>
          <li>hi</li>
          <li>wwwwwwowwwwwwwww</li>
        </ul>
      </fieldset>

    </div>

  </body>
</html>
