<!doctype html>
<html lang="en">
  {{
    template "head" dict
    "SubtitlesList" (list "Website Statistics")
    "Description" "Real-time overview of the recorded statistics of this website. No cookies allowed!"
    "KeywordsList" (list "Computer Science" "Game Development" "Portfolio" "Statistics")
  }}
  <body>
    {{template "nav"}}
    <div class="stats ordered-popin">
      <fieldset class="panel ordered-popin split-container">
        <legend>Website Stats</legend>
        {{template "hexlist" dict "StartDelay" 0 "GapDelay" 50 "List" (index . 0)}}
        {{template "hexlist" dict "StartDelay" 0 "GapDelay" 50 "List" (index . 1)}}
      </fieldset>
    </div>
  </body>
</html>
