<!doctype html>
<html lang="en">
  {{
    template "head" dict
    "SubtitlesList" (list "Website Statistics")
    "Description" "Real-time overview of the recorded statistics of this website. No cookies allowed!"
    "KeywordsList" (list "tedski999" "Ted Johnson" "Computer Science" "Game Development" "Portfolio" "Statistics")
  }}
  <body>
    <header>
      {{template "nav"}}
    </header>
    <div class="stats ordered-popin">
      <fieldset class="panel">
        <legend>Website Stats</legend>
        <div class="split-container">
          {{template "hexlist" dict "StartDelay" 0 "GapDelay" 50 "List" (index .StatsLists 0)}}
          {{template "hexlist" dict "StartDelay" 0 "GapDelay" 50 "List" (index .StatsLists 1)}}
        </div>
        {{template "randomcharacters" (printf "Recording commenced %s" .StatsStartDatetime)}}
      </fieldset>
    </div>
  </body>
</html>
