<!doctype html>
<html lang="en">
  {{
    template "head" dict
    "SubtitlesList" (list "Website Statistics")
    "Description" "Real-time overview of the recorded statistics for this website, such as top referrers and server resource usage."
    "KeywordsList" (list "tedski999" "Ted Johnson" "Computer Science" "Game Development" "Portfolio" "Statistics")
    "Canonical" "/stats"
    "Stylesheet" "/css/stats.css"
  }}
  <body>
    <header>
      {{template "nav"}}
    </header>
    <div class="main ordered-popin">
      <fieldset>
        <legend>Website Stats</legend>
        <div class="split-container">
          <ul class="hexlist">
            {{range $index, $item := index .StatsLists 0}}
              <li style="animation-delay: {{add 0 (mul 50 $index)}}ms">{{printf "0x%04X" (mul $index 4)}} {{$item}}</li>
            {{end}}
          </ul>
          <ul class="hexlist">
            {{range $index, $item := index .StatsLists 1}}
              <li style="animation-delay: {{add 0 (mul 50 $index)}}ms">{{printf "0x%04X" (mul $index 4)}} {{$item}}</li>
            {{end}}
          </ul>
        </div>
        <p class="random-popin">{{range split (printf "Recording commenced %s" .StatsStartDatetime)}}<span>{{.}}</span>{{end}}</p>
      </fieldset>
    </div>
  </body>
</html>
