@font-face {
  font-family: "terminus";
  src: url("/fonts/terminus.woff") format("woff");
}

:root {
  --bg-color: black;
  --font-family: terminus, monospace;
  --accent-color: red;
  --link-color: orange;
}

body {
  background-color: var(--bg-color);
  font: 1.1rem var(--font-family);
  color: var(--accent-color);
}

/* Animated links */
a {
  text-decoration: none;
  color: var(--link-color);
  background-image: linear-gradient(var(--link-color), var(--link-color));
  background-position: 0 100%;
  background-size: 100% .05em;
  background-repeat: no-repeat;
  transition:
    color 200ms cubic-bezier(0,.5,0,1),
    background-size 300ms cubic-bezier(0,.5,0,1);
}
a:hover, a.hover, .dropdown-menu:hover > a {
  text-decoration: none;
  color: var(--bg-color);
  background-size: 100% 1.1em;
}

/* Plain unordered lists */
ul {
  padding: 0;
  list-style-type: none;
}
ul.horizontal-list {
  margin: 0;
}
ul.horizontal-list > li {
  display: inline-block;
  margin: 0.1em 0.5em;
}

/* Mobile-friendly fieldset panels */
fieldset {
  margin: 1em;
  min-width: 0;
  border-style: double;
  border-color: var(--accent-color);
}
@media (min-width: 800px) {
  fieldset {
    box-sizing: border-box;
    transition: margin 200ms, padding 200ms;
    padding: 1em;
  }
  fieldset:hover {
    margin: 1.40em;
    padding: 0.60em;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  border: 5px solid #00000000;
  background-clip: padding-box;
  background-color: var(--accent-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--link-color);
}

/* Navigation bar */
.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
.topnav li {
  flex-basis: 10%;
  padding: 0 .25em;
}

/* Main content container */
.main {
  margin: 0 auto;
  max-width: 1000px;
}

/* Mobile-friendly split container layout */
@media (min-width: 800px) {
  .split-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .split-container > * {
    flex: 1;
    box-sizing: border-box;
    min-width: 0;
  }
}

/* Form styling */
form label {
  font: 1rem var(--font-family);
}
form input {
  background: var(--bg-color);
  border-color: var(--accent-color);
  font: 1rem var(--font-family);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}
form input[type=search] {
  border: none;
  border-bottom: 2px solid var(--accent-color);
}
form input[type=submit] {
  color: var(--link-color);
  border-color: var(--link-color);
  background-image: linear-gradient(var(--link-color), var(--link-color));
  background-size: 100% 0;
  background-position: 0 100%;
  background-repeat: no-repeat;
  padding: 0.25em;
  margin: 0;
  transition:
    padding 700ms cubic-bezier(0,.5,0,1),
    margin 700ms cubic-bezier(0,.5,0,1),
    color 200ms cubic-bezier(0,.5,0,1),
    background-size 300ms cubic-bezier(0,.5,0,1);
}
form input[type=submit]:hover {
  background-size: 100% 1.4em;
  padding: 0.1em;
  margin: 0.15em;
  color: var(--bg-color);
}
form input::placeholder {
  color: var(--accent-color);
  opacity: 0.8;
}
form input:focus {
  outline: none !important;
}
form input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  margin: 0.95em 0;
}
form input[type="checkbox"] + span:before {
  content: "\a0";
  display: inline-block;
  position: relative;
  top: 1px;
  right: 5px;
  width: 10px;
  height: 10px;
  border: 2px solid var(--accent-color);
  transition:
    top 100ms, right 100ms,
    width 100ms, height 100ms,
    margin-right 100ms;
}
input[type="checkbox"]:hover + span:before {
  top: 3px;
  right: 3px;
  width: 6px;
  height: 6px;
  margin-right: 4px;
}
input[type="checkbox"]:checked + span:before {
  background-color: var(--accent-color);
}

/* Drop down menus */
.dropdown-menu {
  position: relative;
}
.dropdown-menu .dropdown-content {
  display: none;
  position: absolute;
  top: 1em;
  padding: 0.5em;
  background-color: var(--bg-color);
  border-style: solid;
  border-color: var(--link-color);
}
.dropdown-menu:hover {
  z-index: 1;
}
.dropdown-menu:hover .dropdown-content {
  display: block;
}

/* Hexadecimal styled lists */
.hexlist, .hexlist li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Individually appearing elements */
.ordered-popin *, .random-popin * {
  opacity: 0%;
  -webkit-animation: popin-animation;
  -webkit-animation-fill-mode: forwards;
  animation: popin-animation;
  animation-fill-mode: forwards;
}
.random-popin *:nth-of-type(1n+0) { -webkit-animation-delay: 600ms; animation-delay: 600ms; }
.random-popin *:nth-of-type(3n+3) { -webkit-animation-delay: 550ms; animation-delay: 550ms; }
.random-popin *:nth-of-type(2n+5) { -webkit-animation-delay: 500ms; animation-delay: 500ms; }
.random-popin *:nth-of-type(4n+1) { -webkit-animation-delay: 450ms; animation-delay: 450ms; }
.random-popin *:nth-of-type(3n+8) { -webkit-animation-delay: 400ms; animation-delay: 400ms; }
.random-popin *:nth-of-type(5n+4) { -webkit-animation-delay: 350ms; animation-delay: 350ms; }
.random-popin *:nth-of-type(6n+2) { -webkit-animation-delay: 300ms; animation-delay: 300ms; }
.random-popin *:nth-of-type(5n+0) { -webkit-animation-delay: 250ms; animation-delay: 250ms; }
.random-popin *:nth-of-type(9n+4) { -webkit-animation-delay: 200ms; animation-delay: 200ms; }
.random-popin *:nth-of-type(8n+2) { -webkit-animation-delay: 150ms; animation-delay: 150ms; }
.random-popin *:nth-of-type(9n+1) { -webkit-animation-delay: 100ms; animation-delay: 100ms; }
@keyframes popin-animation {
  99% { opacity: 0%; }
  100% { opacity: 100%; }
}

/* Generic responsive classes */
@media (min-width: 800px) {
  .hide-on-desktop {
    display: none;
  }
}
@media (max-width: 799px) {
  .hide-on-mobile {
    display: none;
  }
}
@media (hover: hover) {
  .hide-on-mouse {
    display: none;
  }
}
@media (hover: none) {
  .hide-on-touch {
    display: none;
  }
}
