.error {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0 1em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: monospace, var(--font-family);
  text-align: center;
  border-style: double;
  border-color: var(--accent-color);
  color: white;
}

.error-highlight {
  color: var(--accent-color);
}
